* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    }
    
    img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
    }

    img[src$=".jpg"] {
      border-radius: 4px;
    }
    
    input, button, textarea, select {
      font: inherit;
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }